/.vscode
/activity-counter/node_modules
/CreateReactApp
/ES2015/node_modules
/ExpressApp/node_modules
/ExpressApp/public
/Fileserver/public
/Functional-Javascript/node_modules
/JQuery
/JS-Slider
/My-React-App/lesson-1/node_modules
/Nock-Server/node_modules
/JS_Fader
/Nodejs/Express-App/node_modules
/Nodejs/Express-App/.git
/Nodejs/node_modules
/Nodejs/oldjs
/Nodejs/public
/Nodejs/public/.git
/React
/Scripting
/second-react-app/node_modules
/second-react-app/.git
/second-react-app/.gitignore
/temp/node_modules
/temp-react-app/node_modules
/temp2
/Test-Driven-Development/node_modules
/third-react-app/node_modules